.auto-card-link-container {
    margin: 0 auto;
    border: solid 1px rgba(92, 147, 187, 0.2);
    border-radius: 8px;
    overflow: hidden;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        "Helvetica Neue", Arial, sans-serif;
}

.auto-card-link-container {
    --auto-card-link-indent-size: 2.5em;

    &[data-auto-card-link-depth="0"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 0);
    }
    &[data-auto-card-link-depth="1"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 1);
    }
    &[data-auto-card-link-depth="2"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 2);
    }
    &[data-auto-card-link-depth="3"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 3);
    }
    &[data-auto-card-link-depth="4"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 4);
    }
    &[data-auto-card-link-depth="5"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 5);
    }
    &[data-auto-card-link-depth="6"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 6);
    }
    &[data-auto-card-link-depth="7"] {
        margin-left: calc(var(--auto-card-link-indent-size) * 7);
    }
}

.auto-card-link-error-container {
    max-width: 780px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        "Helvetica Neue", Arial, sans-serif;
    background-color: rgb(255, 246, 228);
    padding: 10px;
}

.auto-card-link-card {
    display: flex;
    align-items: center;
    height: 120px;
    line-height: 1.5;
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.82);
    text-decoration: none;
    background: #fff;
    cursor: pointer;
}

.auto-card-link-main {
    flex: 1;
    height: 100%;
    padding: 0.25em 1.2em;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.auto-card-link-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-word;
    margin: 0;
    font-size: 1em !important;
    user-select: none;
}

.auto-card-link-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 4.65em;
    overflow: hidden;
    color: #77838c;
    font-size: 0.8em !important;
}

.auto-card-link-host {
    font-size: 0.78em !important;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.auto-card-link-favicon {
    margin-right: 8px;
    flex-shrink: 0;
}

.auto-card-link-thumbnail {
    height: 120px;
    max-width: 230px;
}

.auto-card-link-thumbnail-img {
    object-fit: cover;
    height: 100%;
    flex-shrink: 0;
}

.auto-card-link-copy-url {
    background: var(--background-primary-alt);
    position: absolute;
    right: 4px;
    bottom: 4px;
    z-index: 1;

    .is-phone & {
        width: var(--input-height);
    }
}
